<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>content</key>
		<string>加快速度发货快速的交付时间的放松放松的接口来发货速度就分手快乐</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>color</key>
		<string>blue</string>
		<key>url</key>
		<string>https://www.baidu.com</string>
		<key>content</key>
		<string>百度网页</string>
		<key>type</key>
		<string>link</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>name</key>
		<string>app_add</string>
		<key>height</key>
		<string>20</string>
		<key>width</key>
		<string>20</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>content</key>
		<string>加快速度发货快速的交付时间的放松放松的接口来发货速度就分手快乐</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>color</key>
		<string>red</string>
		<key>url</key>
		<string>http://news.163.com</string>
		<key>content</key>
		<string>网易新闻</string>
		<key>type</key>
		<string>link</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>content</key>
		<string>加快速度发货快速的交付时间的放松放松的接口来发货速度就分手快乐</string>
		<key>size</key>
		<string>16</string>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>name</key>
		<string>default_imgAbout.jpg</string>
		<key>height</key>
		<string>200</string>
		<key>width</key>
		<string>300</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>content</key>
		<string>加快速度发货快速的交付时间的放松放松的接口来发货速度就分手快乐</string>
		<key>size</key>
		<string>16</string>
		<key>color</key>
		<string>blue</string>
	</dict>
</array>
</plist>
